name: Run Telegram Bot on Schedule
on:
  schedule:
    - cron: "*/50 * * * *"
  workflow_dispatch:

jobs:
  send-telegram-message:
    runs-on: ubuntu-latest
    environment: Telegram_Secrets
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install dependencies
        run:  |
         pip install -r requirements.txt
         playwright install-deps
         playwright install chromium
      - name: Run Telegram Notifier
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          RWBY_URL: ${{ settings.RWBY_URL }}
          RWBY_TIMEOUT: ${{ settings.RWBY_TIMEOUT }}
        run: python main.py
